@mainColor: orange;
@headerMainColor: darkgrey;
@footerMainColor: lighten(@headerMainColor, 20%);
@lightColor: white;
@buttonColor: darken(@mainColor, 5%);
@flagColor: darken(@mainColor, 7%);
@secondaryColor: lighten(@headerMainColor, 31%);
@large: 16px;
@largeText: 25px;
@headerHeight: 83px;
@flagWidth: 100px;
@topFlagHeight: 85px;
@bottomFlagHeight: 125px;
@cartWidth: 300px;
@cartFooterHeight: 100px;
@cartPizzaIconWidth: 4.5rem;
@flagYBorder: 15px;
@flagXBorder: @flagWidth / 2;
@flagX: 1rem;
@mdWidth: 1010px;
@smWidth: 820px;
@xsWidth: 633px;

@import "pizza/pizza-card";

body {
    background-color: lighten(@mainColor, 45%);
}

.header {
    z-index: 1;
    opacity: 50%;
    background-color: fadeout(darken(@headerMainColor, 50%), 5%);
    padding-left: 12rem;
    padding-right: @cartWidth;
    height: @headerHeight;

    .top {
        padding-top: 0.5rem;
        padding-bottom: 1rem;

        .left {
            padding-top: 0.5rem;

            .text-top {
                color: @headerMainColor;
            }
        }
    }

    .top:after {
        border-bottom: 1px solid @headerMainColor;
    }

    .bottom {
        color: @lightColor;
        border-top: 1px solid @headerMainColor;
        margin-top: .5rem;
        padding-top: .8rem;
    }
}

.large-text {
    font-size: @large;
}

.button(@buttonColor) {
    background-color: @buttonColor;
    border-color: @buttonColor;
}

.btn-primary {
    .button(@buttonColor);
}

.btn-primary:hover {
    .button(darken(@buttonColor, 2%))
}

.btn-primary:focus, .btn-primary:active {
    .button(darken(@buttonColor, 5%)) !important;
}

.main {
    margin-right: @cartWidth;
    margin-top: 10rem;

    .pizza-list {
        .list-title {
            .title {
                font-size:  @largeText;
                font-weight: bold;
            }
        }

        #types {
            margin: 2rem 0;
            cursor: default;

            li {
                color: @flagColor;
                margin: 0 1rem;
                border-radius: 4px;
                padding: 10px 15px;

                &.active {
                    color: @lightColor;
                    background-color: @flagColor;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    padding: 5rem 0;
}

footer, .cart-footer {
    background: linear-gradient(to top, @footerMainColor, lighten(@headerMainColor, 40%));
    border-top: 1px solid @footerMainColor;
}

.flag {
    position: fixed;
    left: @flagX;
    z-index: 3;
    background-color: @flagColor;
    color: @lightColor;
    text-transform: uppercase;
    width: @flagWidth;
    padding-top: 17px;
}

.flag:before, .flag:after {
    content: "";
    position: fixed;
    left: @flagX;
}

.top-flag {
    top: 0;
    height: @topFlagHeight;
}

.top-flag:after {
    top: @topFlagHeight;
    border-bottom: @flagYBorder solid transparent;
}

.bottom-flag {
    bottom: 0;
    height: @bottomFlagHeight;

    hr {
        border-top: 3px dotted darken(@flagColor, 5%);
        margin: 0 1rem;
        padding-bottom: 0.5rem;
    }
}

.bottom-flag:before {
    bottom: @bottomFlagHeight;
    border-top: @flagYBorder solid transparent;
}

.top-flag:after, .bottom-flag:before {
    border-left: @flagXBorder solid @flagColor;
    border-right: @flagXBorder solid @flagColor;
}

.counter {
    color: @lightColor;
    padding: .1em .4em;
    border-radius: 1rem;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    display: inline-block;
    background-color: @mainColor;
    border-color: @mainColor;
    color: #FFF;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: @cartWidth;
    height: 100%;
    z-index: 2;

    .header {
        height: @headerHeight;
        padding: 0 1rem;
        background-color: @lightColor;

        .title {
            line-height: @headerHeight;
        }

        #clear-cart {
            float: right;
            color: @headerMainColor;
            margin-top: @headerHeight / 2 - 8px;
        }

        #clear-cart:hover {
            cursor: pointer;
            color: darken(@headerMainColor, 20%);
        }

        #clear-cart:active {
            color: darken(@headerMainColor, 40%);
            text-decoration: underline;
        }
    }

    #cart {
        background-color: @secondaryColor;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;

        .pizza {
            padding: 2rem 1.5rem;
            border-bottom: 1px solid @footerMainColor;
            position: relative;

            .title, .remove {
                color: @flagColor;
            }

            .title {
                font-weight: normal;
                padding-bottom: 1rem;
            }

            .size-info {
                padding-bottom: 1rem;
                font-weight: 400;

                .weight {
                    margin-left: 2rem;
                }
            }

            .controls {
                font-weight: bold;

                .minus, .plus, .remove {
                    font-weight: bold;
                    border-radius: 20px;
                    margin: 0 1rem;
                }
            }

            .icon {
                position: absolute;
                width: @cartPizzaIconWidth * 2;
                right: -@cartPizzaIconWidth;
                top: 2rem;
            }
        }
    }

    #cart:after {
        content: "";
        display: block;
        height: @headerHeight + @cartFooterHeight;
        width: 100%;
      }

    .cart-footer {
        height: @cartFooterHeight;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1rem;

        .sum {
            float: right;
        }

        .order {
            padding: 1rem;

            .btn-primary {
                width: 100%;
            }
        }
    }

    .title {
        font-weight: bold;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

@media(max-width: @mdWidth) {
    .md-hide {
        display: none !important;
    }
}

@media(max-width: @smWidth) {
    .sm-hide {
        display: none !important;
    }
}

@media(max-width: @xsWidth) {
    .xs-hide {
        display: none !important;
    }
}