<% include common/header.ejs %>

<div id="order">
    <%- include('common/cart', {order: true}) %>
</div>

<div class="container">
    <div class="main text-center">
        <div class="pizza-list">
            <div class="list-title">
                <span id="type" class="title large-text">
                    Усі піци
                </span>
                <span id="count" class="counter small">1</span>
            </div>
            <ul id="types" class="list-inline">
                <li class="active">Усі</li>
            </ul>
            <div class="row" id="pizza_list">
            </div>
        </div>
    </div>
</div>

<script> var order = true; </script>
<% include common/footer.ejs %>